{% extends "landing/base1.html" %}

{% block title %}CANDIDATES' ANSWER PAGE{% endblock title %}

{% block style %}
    
{% endblock style %}

{% block content %}
<div class="container">
    {% for question in questions %}
        <form method="POST" id="post-form">
            <table>
                <tr>
                    <td><strong>{{question.id}} ) {{ question.question }}</strong></td>
                </tr>
            
                <tr>
                    <td>A. {{ question.A }}</td>
                </tr>
            
                <tr>    
                    <td>B. {{ question.B }}</td>
                </tr>
        
                <tr>
                    <td>C. {{ question.C }}</td>
                </tr>
        
                <tr>
                    <td>D. {{ question.D }}</td>
                </tr>

                <tr>
                    <td id="correct" style="display: none;">{{ question.answer }}</td>
                </tr>

                <hr>
            </table>
            {% csrf_token %}
            {% for field in form %}
                <label>{{ field.label }}: </label>
                {{ field }}
            {% endfor %}
            <input type="submit" id="submit" class="btn btn-primary btn-insert" value="Submit Answer" />
            <p id="btn2" style="display: none;">Submitted</p>


            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {{ message|safe }}
                            <a href="#" class="close">x</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </form>
    {% endfor %}
        <h1 style="color:#000066">Your score is {{score}}</h1>
        <div>
            <h2 id="comment"></h2>
            <h2 id="mark"></h2>
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if questions.has_previous %}
                    <a id='previous' href="?page={{ questions.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="current">
                    Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
                </span>
                {% if questions.has_next %}
                    <a href="?page={{ questions.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>

</div>
{% endblock content %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

    <script>
        var correct = document.getElementsByTagName('td')[5].innerHTML;
        var stdAnswer = ($('#id_your_answer').val());
        var remark = document.getElementById('comment');
        var score = 0;
        $(document).ready(function() {
            $("#post-form").submit(function (e) {
                e.preventDefault();
                $("#post-form").trigger('reset');
                $("#submit").hide();
                $("#previous").hide();
                $('#btn2').show();

            /*   if (correct == stdAnswer) {
                    remark.innerHTML = 'Your Answer Is <h3>CORRECT</h3>';
                    score += 1;
                    document.getElementById('mark').innerHTML = score;
                }
                else {
                    remark.innerHTML = 'Your Answer Is <h3>WRONG</h3>';
                }
                */
            });
        });
        
        /*    
    $(document).ready(function () {
        $('#btn1').click(function () {
            $("#btn1").hide();
            $('#btn2').show();
        });
    });

    
        $(document).ready(function () {
            $("button#btn").on("click", function (e) {
                e.preventDefault();
                $(this).hide()
            });
        });

        $(document).ready(function () {
            $(document).on("click", "#btn", function () {
                alert('hi');
                $("button.btn#btn").css({'display':'none'})
            });
        });
    */
    </script>
{% endblock javascript %}